.app {
  text-align: center;
}

.imageStyle {
  height: 80px;
  /* margin: 10px; */
}

.headerStyle {
  align-items: flex-start;
}

.middleStyle {
  height: 700px;
}

.textStyle {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
}

.boxStyle {
  display: flex;
  justify-content: center;
}

.box {
  width: 40px;
}
